*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url("https://images.pexels.com/photos/210186/pexels-photo-210186.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;

}
nav{
    width: 100%; height: 15vh;
    background: rgba(0,0,0,0.3);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

}
nav .logo{
    width: 25%;
    text-align: center;
 
}
.wrapper {
    height:25vmin;
    width:50vmin;
  }
  
  .circ1 {
    z-index: 2;
    position: absolute;
    margin-left:22vmin;
    margin-top: 1.5vmin;
    height:5vmin;
    width:5vmin;
    border-radius:100%;
    border:solid .9vmin rgb(44,45,90,.7);
    opacity:.005;
    -webkit-animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
              animation: puff-in-center 1s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }
  
  .circ2 {
    z-index: 1;
    margin-top: 15vmin;
    margin-left: 24vmin;
    height:5vmin;
    width:5vmin;
    border-radius:100%;
    background:#EE8BAE;
    -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
              animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  }
  
  h1.moon {
    text-align: center;
    font-size: 3vmin;
    margin-top: 2vmin;
    margin-left: .2vmin;
    
    font-family: 'Nunito', sans-serif;
    -webkit-animation: tracking-in-expand .4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
              animation: tracking-in-expand .4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    
  }
  h1.moon span{
    color: #00b894;
  }

  
  
  
  
  /* keyframes */
  
  @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  
  
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

/* nav .logo span{
    color: #00b894;
} */

nav .menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

nav .menu a{
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav .menu a:first-child{
    color: #00b894;
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


section h4{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
    
}
section h2{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
   
}


section a{
    padding: 12px 30px ;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
}

section .btnone{
    background: #fff;
    color: #000;
}
section .btntwo{
    background: #00b894;
    color: white;
}
.change_contentone:after{
    content: '';
    animation: changetextone 10s infinite linear;

}

@keyframes changetextone {
    
    0%{content:"Amazing Places";} 
    50%{content:"Feel Free To Travel";}
    100%{content:"Trip For Your Kids";}
   

    
}
.change_content_two:after{
    content: '';
    animation: changetext 10s infinite linear;

}

@keyframes changetext {
    
    0%{content:"Explore Your Life Travel Where You Want";} 
    50%{content:"Make you Free to travel with us";}
    100%{content:"Sensation Ice Trip is Coming For Kidsr";}
   

    
}